<!DOCTYPE html>
<html>

<head>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="./css/style.css">
    <script src="./js/app.js"></script>
    <title>Help Page</title>
</head>

<body>
    {{>header}}
    <p>{{HelpTxt}}</p>
    {{>footer}}
</body>

</html>